VITE_AI_GATEWAY_CLIENT_ID=client_xxx
VITE_AI_GATEWAY_REDIRECT_URI=http://localhost:5173
VITE_AI_GATEWAY_API_URL=http://localhost:3001
VITE_AI_GATEWAY_AUTH_URL=http://localhost:3003
AI_GATEWAY_CLIENT_SECRET=secret_xxx
